@font-face {
    font-family: "teko";
    src: url("../font/teko.ttf");
}

body {
    font-family: "teko";
    margin: unset;
    padding: unset;
    background: #222;
    width: 640px;
    height: 360px;
}

#ver {
    position: fixed;
    left: 5px;
    bottom: 5px;
    color: white;
    font-size: 20px;
}

#title {
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

#bg,
#bg img {
    width: 640px;
    height: 360px;
}

#loading {
    position: fixed;
    left: unset;
    top: unset;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    animation: loading infinite 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg)
    }
}

#loading img {
    width: 100%;
    height: 100%;
}

#stats {
    position: fixed;
    top: 5px;
    left: 5px;
    color: white;
}